@font-face {
    font-family: "Trip Sans Regular";
    src: url("../fonts/TripSans-Regular.eot");
    src: url("../fonts/TripSans-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/TripSans-Regular.woff2") format("woff2"),
      url("../fonts/TripSans-Regular.woff") format("woff"),
      url("../fonts/TripSans-Regular.ttf") format("truetype"),
      url("../fonts/TripSans-Regular.svg#TripSans-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trip Sans Medium';
    src: url('../fonts/TripSans-Medium.eot');
    src: url('../fonts/TripSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TripSans-Medium.woff2') format('woff2'),
        url('../fonts/TripSans-Medium.woff') format('woff'),
        url('../fonts/TripSans-Medium.ttf') format('truetype'),
        url('../fonts/TripSans-Medium.svg#TripSans-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

h1{
    font-family: "Trip Sans Medium";
    font-size: 28px;
}

h2{
    font-family: "Trip Sans Medium";
}

body{
    font-family: "Trip Sans Regular";
}


.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 24px;
    align-items: center;
}
header{
    height: 60px;
    display: flex;
    margin: auto;
    justify-content: center;
}


.fixed-nav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-width: 1188px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
    border-radius: 20px;
    
}

.nav-left{
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

header nav img{
    height: 40px;
    padding-right: 30px;
    
}

.search-bar{
    height: 42px;
    padding: 0 12px;
    border: 1px solid gray;
    border-radius: 21px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar input{
    font-size: 16px;
    width: 80%;
    height: 80%;
    border-color: transparent;
    outline: none;
}

.main-icon{
    font-size: 22px;
}

.nav-right{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.nav-right-wrapper{
    display: flex;
    justify-content: space-evenly;

    /* width: 450px; */
}

.nav-right-wrapper div{
    display: flex;
    padding: 0 6px;
    margin-left: 10px;
    justify-content: center;
    border-radius: 20px;
    height: 40px;
    align-items: center;
    gap: 17px;
}

/* .nav-right-wrapper div:last-child{
    width: 135px;
} */

.nav-right-wrapper div:last-child{
    background-color: black;
    color: white;
    width: 150px;

}

.nav-right-wrapper div:hover{
    background-color: rgb(224, 223, 223);
    transition: all 0.3s ease;
    cursor: pointer;
}
.nav-right-wrapper div:last-child:hover{
    background-color: rgb(79, 78, 78);
    transition: all 0.3s ease;
    cursor: pointer;
}

h2{
    font-size: 16px;
}

.city-explorer{
    display: flex;
    flex-direction: column;
    height: 290px;
    padding: 32px 0 24px 0;
    justify-content: space-evenly;
}

.title-city{
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}

.title-city div{
    font-family: "Trip Sans Medium";
    font-size: 54px;
    font-weight: bold;
}
.title-city div span{
    color: #FE5D5D;
}

p{
    color: #333333;
    font-size: 14px;
}

.action-to-city{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

}

.action-row-top{
    display: flex;
    height: 60px;
    gap: 15px;
    justify-content: space-between;
    

}
.action-row-top div{
    /* margin: 0 10px 10px 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    border-radius: 12px;
    flex: 1;
    padding: 11px 16px
}

.action-row-bottom{
    display: flex;
    height: 60px;
    gap: 15px;
    

}
.action-row-bottom div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px black;
    border-radius: 12px;
    flex: 1;
    padding: 11px 16px
}

.action-row-bottom div:hover, .action-row-top div:hover{
    background-color: black;
    color: white;
    transition: all ease 0.3s;
    cursor: pointer;
}

.picture-container{
    display: flex;
    flex-direction: row ;
    height: 372px;
    gap: 5px;
}

.picture-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 5px;
}

.picture-left{
    flex: 2;
    object-fit: contain;
    

}

.picture-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.picture-right img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

 @media (max-width:1024px){
    .nav-right .nav-title{
        display: none ;
    } 
 }

 .pictures-bottom-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 35px 0;
 }

.description-comment{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 80px;
}

.left-pannel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex: 1;
    margin-right: 20px;
}

.right-pannel{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 100px;
}

.right-pannel-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    border-radius: 25px 25px 0 0  ;
    padding: 20px 20px;
    background-color: #FE5D5D;
    min-height: 250px;
}

.right-pannel-text h1{
    font-size: 35px;
}

.create-travel{
    border-radius: 22px;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 16px;
    width: 150px; 
}

.create-travel:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.left-pannel h1{
    font-size: 28px;
    margin-bottom: 20px;
}

.left-pannel p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 25px;
    
}

.map-paris img{
    flex: 1;
    object-fit: cover;
    width: 100%;
    height: 230px;
}


.city-unmissable{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 300px;
    gap: 10px;
    
    
}

.description-pannel{
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* min-width: 271px; */
    flex: 1;
}

.description-pannel h2{
    font-size: 24px;
    margin-bottom: 10px;
}
.description-pannel p{
    font-size: 18px;
}

.description-pannel p{
    font-size: 16px;
}

.scrollable-content{
    display: flex;
    flex: 3;
    flex-shrink: 0;
    overflow-x: scroll;
    gap: 10px;
}

.unmissable-content{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 230px;
    gap: 20px;
}

.unmissable-image1{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/1-20180601-122841-largejpg.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}

.unmissable-image2{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/2-arc-de-triomphe-at-night.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}
.unmissable-image3{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/3-basilica-del-sagrado.jpg');
    /* background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}
.unmissable-image4{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/4-cour-napoleon-et-pyramide.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}
.unmissable-image5{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/5-eiffeltoren.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}
.unmissable-image6{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/7-marche-vernaison-maison.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}
.unmissable-image7{
    display: flex;
    flex-direction: column;
    background-image: url('../img/unmissables-img/6-leider-durch-das-feuer.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 5;
    justify-content: space-between;
}

.heart{
    display: flex;
    background: white;
    align-self: flex-end;
    box-sizing: border-box;
    padding: 5px;
    margin: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.prize{
    display: flex;
    flex-direction: column;
    background: white;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 5px;
    margin: 7px;
    border-radius:  30% 30% 20% 20%;
    font-size: 10px;
    gap: 5px;
    cursor: pointer;
}

.unmissable-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 3;
}





footer div{
    font-family: "Trip Sans Regular";
    font-size: 18px;
}

footer span{
    font-family: "Trip Sans Medium";
}

.escape-section{
    display: flex;
    width: 100%;
    background-color: #F9F1EC;
    height: 186px;
    margin: 50px 0 50px 0;
    
}

.escape-left-pannel{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.escape-left-pannel h1{
    padding: 40px 10px 0 20px;
    font-size: 24px;
}
.escape-left-pannel h2{
    font-size: 16px;
    font-family: "Trip Sans Regular";
    padding: 10px 10px 10px 20px;
}
.escape-left-pannel button{
    display: flex;
    background-color: black;
    color: white;
    height: 48px;
    width: 127px;
    margin: 35px 0 10px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 16px;
}
.escape-left-pannel button:hover{
    background-color: #333333;
    transition: all 0.3s ease
}



.escape-right-pannel{
    display: flex;
    background-image: url("../img/TravelersChoice.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 2;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.escape-right-pannel:hover{
    background-size: 105%;
    transition: all 0.3s ease-in-out;
}
.escape-right-pannel img{
    height: 100px;
    width: 100px;
    padding: 0 15px 15px 0;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F0EC;
    height: 160px;
    gap: 20px;
   }